<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Links -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Kaushan+Script|Shadows+Into+Light" rel="stylesheet">
    <!-- Style Sheets: Materialize Framework, Custom Style Sheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!-- Javascript Link (for?) -->
    <script src="https://use.fontawesome.com/556453154e.js"></script>
</head>
<body>
    <!-- header -->
    <header>
        <!-- Top Navbar with Logo -->
        <nav>
           <div class="nav-wrapper">
                <!-- <div class="container"> -->
                    <a href="/" id="logo"><img src="/assets/images/brand_top.png" style="z-index: 500; position: relative;"></a>
                    <a href="#" data-activates="slide-out" class="button-collapse right hide-on-med-and-up"><i class="material-icons">menu</i></a>
                    {{#if user}}
                    <div class="brand-logo center" style="font-size: 18px">Welcome, {{user.first_name}}!</div>
                    <ul id="nav-mobile" class="right hide-on-small-only">
                        <!-- <li><a href="/dashboard">Queue Dashboard</a></li> -->
                        <li><a href="/addcustomer" class="btn-floating"><i class="material-icons red accent-1">add</i></a></li>
                        <li><a href="/dashboard" class="btn-floating"><i class="material-icons red accent-1">dashboard</i></a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                    <ul class="side-nav hide-on-med-and-up" id="slide-out">
                        <li><img src="/assets/images/brand_small.png" style="margin: 10px 0 0 30px "></li>
                        <li><a href="/dashboard">Queue Dashboard</a></li>
                        <li><a href="/addcustomer">Add Customer</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                    {{else}}
                    <div class="brand-logo center" style="font-size: 18px">Welcome to You-Queue!</div>
                    <ul id="nav-mobile" class="right hide-on-small-only">
                        <li><a href="/signin">Sign In</a></li>
                    </ul>
                    <ul class="side-nav hide-on-med-and-up" id="slide-out">
                        <li><img src="/assets/images/brand_small.png" style="margin: 10px 0 0 30px "></li>
                        <li><a href="/signin">Sign In</a></li>
                    </ul>
                    {{/if}}
                <!-- </div>  -->
            </div>
        </nav>
    </header>
    <!-- main: important to wrap this part in <main> for sticky footer to work -->
    <main>
        <div class="container">
            {{#if error}}
            <p class="session-msg error-msg">{{error}}</p>
            {{/if}}

            {{#if success}}
            <p class="session-msg success-msg">{{success}}</p>
            {{/if}}

            {{#if notice}}
            <p class="session-msg notice-msg">{{notice}}</p>
            {{/if}}

            {{{ body }}}
        </div>  
    </main>
    <!-- footer -->
    <footer class="page-footer light-blue darken-4">
        <div class="container">
            <div class="row">
                <div class="col s6 white-text">
                    <h5>Connect with the contributors:</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/michael-tolmie-83527537/">Michael</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/john-silkey-jr/">John</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/tarmin-sidharta/">Tarmin</a></li>
                    </ul> 
                </div>
                <div class="col s3 offset-s3 ">
                    <h5 class="white-text">Links</h5>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright John, Michael and Tarmin
            </div>
        </div>
    </footer>
    <!-- JavaScript Links: jquery, materialize, custom -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/{{scriptLink}}"></script>
</body>
</html>